.main {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  max-width: var(--max-width);
  color: var(--white);
  /* border: 1px solid red; */
}

.title {
  flex-basis: 100%;
  font-weight: 800;
  padding-top: 6rem;
  letter-spacing: var(--ls);
  /* border: 1px solid blue; */
  @media (max-width: 850px) {
    padding-top: 2rem;
  }
}

.main h1 {
  /* border: 1px solid red; */
  font-size: 6rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(50) 0.5s 1 normal both,
    cursorblink 1.0s infinite;
  @media (max-width: 800px) {
    font-size: 2.5rem;
  }
}

.main span{
  /* color: var(--pink); */
  background: -webkit-linear-gradient(bottom right, var(--pink), var(--white));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.main .description {
  flex-basis: 100%;
  font-size: 2rem;
  letter-spacing: var(--ls);
  /* border: 1px solid blue; */
  @media (max-width: 800px) {
    font-size: 1.25rem;
  }
}

/* writing animation */


@keyframes typewriter {
  from {
    width: 0em;
  }
  
  to {
    width: 8em;
  }
}

@keyframes cursorblink {
  from {
    border-right: 1px solid #dedede;
  }
  
  to {
    border-right: 1px solid #666;
  }
}

.gradient_div {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.gradient_line {
  width: 100%;
  align-content: space-between;
  background: linear-gradient(90deg, var(--pink) 0%, rgba(134, 251, 251, 1) 100%);
  height: 0.5rem;
}

.gradient_div_2 {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.gradient_line_2 {
  margin-top: 0.5rem;
  width: 90%;
  background: linear-gradient(90deg, var(--pink) 0%, rgba(134, 251, 251, 1) 100%);
  height: 0.5rem;
}

/* Resume Section */

.resume_section {
  margin-top: 2rem;
  flex-basis: 100%;
  color:var(--white);
}

.resume_title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: var(--ls);
  justify-content: center;
  align-items: center;

  /* border: 1px solid blue; */
  @media (max-width: 600px) {
    font-size: 1.25rem;
    display: table;
  }
}

/* .resume_section_centered {
  @media (max-width: 600px)
  {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
    margin-left: 8.33333%;
  }
  
} */

.timeline_item {
    /* border: 1px solid var(--pink); */
  padding-bottom: 40px;
  overflow: hidden;

}


.timeline_info,
.timeline_marker,
.timeline_content{
    display: block;
    margin: 0;
    padding: 0;
}


.timeline_marker {
  position: relative;
  left: 50%;
}

.timeline_marker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.25rem; 
  height: 1000rem;
  background: var(--pink);
}

@media (max-width: 600px) {
  .timeline_marker,
  .timeline_marker::before {
    background: none;
  }
}



.timeline_info,
.timeline_content {
    width: 50%;
}

.timeline_item:nth-child(odd) .timeline_info {
  float: left;
  text-align: right;
  padding-right: 35px;
}
.timeline_item:nth-child(odd) .timeline_content {
  float: right;
  text-align: justify;
  padding-left: 20px; 
}    
.timeline_item:nth-child(even) .timeline_info {
  float: right;
  text-align: left;
  padding-left:  20px; 
}
.timeline_item:nth-child(even) .timeline_content {
  float: left;
  text-align: justify;
  padding-right: 35px;
}

@media (max-width: 600px) {
  .timeline_item:nth-child(odd) .timeline_info,
  .timeline_item:nth-child(even) .timeline_info,
  .timeline_item:nth-child(odd) .timeline_content,
  .timeline_item:nth-child(even) .timeline_content {
    float: none;
    text-align: left;
    padding: 0; 
    margin: 0;
    display: block;
 
    width: 100%;
  }
}










/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--bg);
}

.container {
  min-height: 10vh;
  display: grid;
  place-items: center;
  color: #fff;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}


.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  height: 50vh;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-main);
  padding: 3px;
  position: relative;
	border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --rotate {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.description::before {
	content: "";
	display: block;
	width: 104%;
	height: 110%;
	border-radius: 8px;
	background: conic-gradient(
			from var(--rotate) at 50% 50%,
			#1d7afc 6%,
			transparent 30%,
			transparent 70%,
			#f8e6a0 90%,
			#1d7afc 100%
		),
		#8bdbe5;
	position: absolute;
	z-index: -1;
	top: -5%;
	left: -2%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

.description h2 {
  min-height: 52vh;
  position: relative;
  width: 100%;
  color:white;
  margin: 0;
  padding: 1rem;
  background-color: black;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */
















/* 
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
} */


/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */
/* 
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
